*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    position: relative;
}

.containerGlobal{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: repeat(3, minmax(20px, 1fr));
}
.header{
    grid-column: 1 /-1;
    grid-row: 1/2;
    background-color:#d0cccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* height: auto; */
    padding: 20px;
}
.header h1{
    font-size: 1.5em;
    color: #373737;
}
.header .btn-ajout{
    outline: none;
    border: none; 
    padding: 10px 20px;
    height: 40px;
    border-radius: 8px;
    background:#373737;
    color: white;
}
.containerListJoueur{
    background: #8cb6ec57;
    grid-column: 3/4;
    grid-row: 2/-2;
    padding: 20px;
    /* height: 100vh; */
    border-left: 5px solid orange;
}
.cardJoueur{
    padding: 20px;
    border: 1px solid black;
    width: 100%;
    border-radius: 8px;
    height: 100px;
    display: flex;
    /* gap: 20px; */
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    background: #99d7f1;
}
.imageProfile{
    width:  60px;
    height: 60px;
    border-radius: 50%;

}
.nomJoueur{
    font-size: 1.5em;
    padding: 10px;
}

.infoJoueur{
    padding: 10px;
    display: flex;
    gap: 70px;
}
.post, .prix{
    font-size: 1.4em;
}
.icon{
    background: #000;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.mainComposition {
    background: #67d032d3;
    grid-column: 1/3;
    grid-row: 2/3;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4, minmax(50px, 1fr));
    grid-template-rows: repeat(4, minmax(50px, 1fr));
}
.gardien{
    padding: 20px;
    grid-column: 1/-1;
    grid-row: 1/2;
    /* background: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.defanceur{
    padding: 20px;
    grid-column: 1/-1;
    grid-row: 2/3;
    /* background: #805500; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.milieu{
    padding: 20px;
    grid-column: 1/-1;
    grid-row: 3/4;
    /* background: #3a0080; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.atackeur{
    padding: 20px;
    grid-column: 1/-1;
    grid-row: 4/-1;
    /* background: #800080; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.footer{
    grid-column: 1/-1;
    grid-row: 3/-1;
    background: #199824;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.budget h4{
    font-size: 2em;
}
.reinitialiseBtn{
    outline: none;
    border: none; 
    padding: 20px;
    width:20%;
    height: 40%;
    border-radius: 8px;
    background:#4a97e9cb;
    color: white;
    font-size: 2em;
}

.modalContainer{
    width:100%;
    height: 100%;
    background: #b09d9d86;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    left:0;
}
.modalContainer.afficherModal{
    opacity: 1;
    pointer-events: auto;
}
.modal{
    width: 30%;
    height: 50%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 100px; */
    justify-content: space-around;
    padding: 20px;
    border-radius: 16px;
    /* border: 1px solid black; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.796);
}
.formAjout{
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 1fr));
    grid-template-rows: repeat(5, minmax(50px, 1fr));
    column-gap: 20px;
    row-gap: 30px;
}
.titreModal{
    font-size: 3em;
    text-align: center;
}
.formAjout label{
    font-size: 2em;
    padding: 20px 30px;
    font-weight: 700;
}
.formAjout input{
    font-size:  1.5em;
    text-align: center;
    border-radius: 8px;
    outline: none;
    padding: 20px;
}

.formAjout #postSelect{
    font-size: 1.5em;
    text-align: center;
    border-radius: 8px;
    outline: none;
    padding: 20px;
}
.EnregistrerBtn{
    width: 70%;
    height: 50px;
    border: 1px solid #37c337a4;
    background-color: #37c337;
    color: white;
    font-size: 1.5em;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
}

